<template>
  <div class="home">
    <mg-header />
    <div class="content">
      <div class="operations">
        <div class="search-bar">
          <el-input type="text" v-model="search_key"
                    @keypress.native.enter="search"
                    placeholder="Search Images"
                    prefix-icon="el-icon-search" />
          <el-button type="primary" :loading="loading" @click="search">Search</el-button>
        </div>
        <filters :filter-options="filter_options"
                 :selected-filters.sync="selected_filters"
                 :sort-by.sync="sort_by"
                 :sort-order.sync="sort_order" />
      </div>
      <div class="images-container" v-if="filteredImages.length > 0">
        <image-card @click.native="popup_image = item"
                    v-for="item in filteredImages" :key="item.id" :data="item" />
      </div>
    </div>

    <image-popup :data="popup_image" v-if="popup_image" @close="popup_image = null" />
  </div>
</template>

<script>
import MgHeader from "@/components/MgHeader";
import Filters from "@/components/Filters";
import PixabayService from '@/common/pixabay.service'
import ImageCard from "@/components/ImageCard";
import ImagePopup from "@/components/ImagePopup";
import {sortFunction} from "@/common/utils";

export default {
  name: 'Home',
  components: {
    MgHeader, Filters, ImageCard, ImagePopup
  },
  data() {
    return {
      loading: false,
      search_key: null,
      search_data: null,
      popup_image: false,
      filter_options: [],
      selected_filters: [],
      sort_by: 'likes',
      sort_order: 'desc'
    }
  },
  computed: {
    filteredImages() {
      if (this.search_data) {
        let images = this.search_data?.hits

        if (this.selected_filters.length > 0) {
          images = images.filter(image => this.selected_filters.every(filter => image.tags.includes(filter)))
        }

        return sortFunction(images, this.sort_order, this.sort_by)
      }

      return []
    }
  },
  methods: {
    search() {
      if (!this.search_key) {
        this.$notify.info({
          title: 'Info',
          message: 'Please type something in order to continue'
        })
        return
      }

      this.loading = true

      PixabayService.searchImages(this.search_key).then(res => {
        this.search_data = res.data
        let mapped_tags = res.data.hits?.map(hit => hit.tags.split(',').map(tag => tag.trim()))
        this.filter_options = [...new Set(Array.prototype.concat.apply([], mapped_tags))]
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped lang="scss">
  .home {
    height: 100vh;
    overflow: hidden;

    .content {
      padding: 2rem;
      height: calc(100% - 76px);
      overflow-y: auto;

      .operations {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .search-bar {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          flex: 1;

          >:last-child {
            margin-left: 1rem;
          }
        }
      }

      .images-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
      }
    }
  }
</style>
