<template>
  <div class="filters">
    <el-select v-if="filterOptions.length > 0"
               v-model="selected_filters"
               multiple collapse-tags
               style="max-width: 300px"
               @change="updateFilters"
               placeholder="Select Filters">
      <el-option
          v-for="item in filterOptions"
          :key="item"
          :label="item"
          :value="item">
      </el-option>
    </el-select>

    <el-dropdown type="primary" trigger="click"
                 :hide-on-click="false"
                 style="max-width: 300px; margin-left: 1rem;">
      <el-button style="width: 100%; text-transform: capitalize">
        Sort By: {{ sort_by }}
      </el-button>
      <el-dropdown-menu slot="dropdown" style="width: 300px">
        <el-dropdown-item disabled>
          <span class="fs-14">SORT</span>
        </el-dropdown-item>
        <el-dropdown-item :divided="sort_type.id === 1"
                          v-for="sort_type in sort_options" :key="sort_type.id"
                          @click.native="changeSortBy(sort_type.field)">
          <el-radio v-model="sort_by" :label="sort_type.field">
            <span class="hk-text-uppercase">{{ sort_type.label }}</span>
          </el-radio>
        </el-dropdown-item>
        <el-dropdown-item divided disabled>
          <span class="fs-14">ORDER</span>
        </el-dropdown-item>
        <el-dropdown-item divided>
          <el-radio v-model="sort_order" label="asc" @change="changeSortOrder('asc')">
            <span>Ascending</span>
          </el-radio>
        </el-dropdown-item>
        <el-dropdown-item>
          <el-radio v-model="sort_order" label="desc" @change="changeSortOrder('desc')">
            <span>Descending</span>
          </el-radio>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  name: "Filters",
  props: ['filterOptions', 'selectedFilters', 'sortBy', 'sortOrder'],
  beforeMount() {
    this.sort_by = this.sortBy
    this.sort_order = this.sortOrder
  },
  data() {
    return {
      selected_filters: [],
      sort_options: [
        {
          id: 1,
          label: 'Likes',
          field: 'likes'
        },
        {
          id: 2,
          label: 'Favorites',
          field: 'favorites'
        },
        {
          id: 3,
          label: 'Downloads',
          field: 'downloads'
        }
      ],
      sort_by: 'likes',
      sort_order: 'asc'
    }
  },
  methods: {
    updateFilters(event) {
      this.$emit('update:selectedFilters', event)
    },
    changeSortBy(field) {
      this.$emit('update:sortBy', field)
    },
    changeSortOrder(order) {
      this.$emit('update:sortOrder', order)
    }
  }
}
</script>

<style lang="scss" scoped>
.filters {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > * {
    flex: 1;
  }
}
</style>
