<template>
  <div class="image-card">
    <img :src="data.webformatURL" alt="">
    <div class="ratings">
      <span class="rate-badge">
        <like-icon />
        <span title="Likes">{{ data.likes }}</span>
      </span>
      <span class="rate-badge">
        <star-icon />
        <span title="Favorites">{{ data.favorites }}</span>
      </span>
      <span class="rate-badge">
        <download-icon />
        <span title="Downloads">{{ data.downloads }}</span>
      </span>
    </div>
    <div class="tags" v-if="imageTags">
      <span class="tag"
            v-for="(tag, i) in imageTags"
            :key="`${tag}-${i}`">{{ tag }}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: "ImageCard",
  props: ['data'],
  computed: {
    imageTags() {
      let tags = this.data.tags?.split(',')

      return tags.map(tag => {
        return tag.trim()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .image-card {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 1px 5px 2px #dadada;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: transform 200ms linear;
    }

    img {
      max-width: 100%;
      height: 328px;
    }

    .ratings {
      padding: 1rem .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .rate-badge {
        border-radius: 10px;
        padding: 0 5px;
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }
    }

    .tags {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      flex-wrap: wrap;
      padding: 3px;

      .tag {
        border-radius: 10px;
        padding: 5px 10px;
        border: 1px solid $--color-primary;
        color: $--color-primary;
        white-space: nowrap;
        margin: 5px 0;
      }
    }
  }
</style>
