<template>
  <div class="popup-wrapper">
    <div class="popup-content">
      <img :src="data.webformatURL" alt="">
      <div class="info">
        <x-icon class="close" @click="$emit('close')" />
        <span class="user">Taken by: <strong>{{ data.user }}</strong></span>
        <div class="ratings">
          <div class="rate-item">
            <span>Likes</span>
            <span>{{ data.likes }}</span>
          </div>
          <div class="rate-item">
            <span>Favorites</span>
            <span>{{ data.favorites }}</span>
          </div>
          <div class="rate-item">
            <span>Downloads</span>
            <span>{{ data.downloads }}</span>
          </div>
        </div>
        <div class="tags">
          <span class="tag"
                v-for="(tag, i) in imageTags"
                :key="`${tag}-${i}`">{{ tag }}</span>
        </div>

        <div class="buttons">
          <a :href="`${data.largeImageURL}?attachment`" target>
            <el-button type="primary">Download</el-button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ImagePopup",
  props: ['data'],
  computed: {
    imageTags() {
      let tags = this.data.tags?.split(',')

      return tags.map(tag => {
        return tag.trim()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .popup-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .popup-content {
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      height: 80vh;
      width: 80vw;
      display: flex;
      position: relative;

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2rem;

        .close {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;
        }

        .ratings {
          display: flex;
          flex-direction: column;
          margin: 2rem 0;

          .rate-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #dadada;
            padding: 10px 0;
          }
        }

        .tags {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 100%;
          flex-wrap: wrap;
          padding: 3px;

          .tag {
            border-radius: 10px;
            padding: 5px 10px;
            border: 1px solid $--color-primary;
            color: $--color-primary;
            white-space: nowrap;
            margin: 5px 0;
          }
        }

        .buttons {
          margin-top: 2rem;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
</style>
