<template>
  <header>
    Images App
  </header>
</template>

<script>
export default {
name: "MgHeader"
}
</script>

<style lang="scss" scoped>
  header {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: $--color-primary;
    font-weight: bold;
  }
</style>
